.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #1f2122;
}

.mainGeneral {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* ____________header body________________*/

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 100px;
}

.headerInput {
  width: 640px;
  height: 50px;
  font-size: 25px;
  margin: 40px;
  border-radius: 10px;
  border: none;
  padding: 20px;
}

.headerInput::placeholder {
  color: #6f6f6f;
}

.filtersSelect {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
}

/* __________body__________________*/

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  background-color: #1f2122;
  width: 1200px;
}

.topBody {
  display: flex;
  width: 100%;
}

.h3 {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.listOfGame {
  margin-top: 40px;
  background-color: #1f2122;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gameCard {
  width: 220px;
  height: 300px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;
  border-radius: 12px;
}

.gameLine {
  height: 20px;
  position: absolute;
  color: white;
  bottom: 20px;
  left: 5px;
}

.gameCardPicture {
  width: 100%;
  height: 100%;
  border-radius: 12px;

  object-fit: cover;
}

.pagination {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.paginationButton {
  background-color: #1f2122;
  color: white;
  font-size: 20px;
  border: none;
}

.paginationButton:hover {
  cursor: pointer;
}
