.login {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1f2122;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  width: 1000px;
  height: 600px;
  display: flex;
}

.mainLeft {
  width: 50%;
  height: 100%;
  border-right: 5px solid #fe4655;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #181819;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.mainLeftBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: 300px;
}

.mainLeftLine {
  display: flex;
  align-items: center;
  width: 100%;
}

.lineLogo {
  margin-right: 10px;
  font-size: 25px;
}

.mainRight {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #2f3031;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.h2 {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.formBox {
  height: 300px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.form {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.input {
  height: 50px;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 18px;
}

.loginButton {
  height: 50px;
  border-radius: 10px;
  background-color: #fe4655;
  color: white;
  font-size: 18px;
  border: none;
}

.loginButton:hover {
  cursor: pointer;
}

.noAccount {
  color: white;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
